h1 {
    font-size: 2em;
    font-weight: bold;
    color: purple;
    text-align: center;
    margin: 0 0 0.5em 0;
    padding: 0;
}

.big-heading {
  font-size: 7em;
  font-weight: bold;
  color: pink;
  text-align: center;
  margin: 0 auto;
}

.margin-30 {
  margin: 30px;
}